.container {
    border: 1px solid darkcyan;
    background-color: black;
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 30px 30px 30px 30px;
    padding: 5px 1px 5px 1px; /*  top right bottom left*/
}

.btns {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}

.btn {
    background-color: black;
    border: 1px solid gray;
}

#result{
    border: 1px solid gray;
    width: 79.5%;
    height: 50px;
    font-size: x-large;
    margin: auto;
}

#display {
    margin: 13px 0px 0px 50px;
    border: 1px solid gray;
    width: 25%;
    height: 17px;
}